openai.inferenceType=OPENAI
openai.llmModel=gpt-4o-mini
openai.apiKey=

mistral.inferenceType=MISTRAL
mistral.llmModel=mistral-small-latest
mistral.apiKey=

openrouter.inferenceType=OPENROUTER
openrouter.llmModel=mistralai/ministral-8b
openrouter.apiKey=